<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">Eat A Burger Or Create Your Own!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <ol class="list-group">
                <h3>Menu</h3>
                {{#each burgers}}
                {{#unless devoured}}
                <li class="list-group-item">
                    <p>
                        {{id}}. {{burger_name}}
                        <button type="submit" class="btn btn-secondary float-right">Devour</button>
                    </p>
                </li>
                {{/unless}}
                {{/each}}
            </ol>
        </div>
        <div class="col-md">
            <ol class="list-group">
                <h3>Devoured!</h3>
                {{#each burgers}}
                {{#if devoured}}
                <li class="list-group-item">
                    <p>{{id}}, {{burger}}</p>
                </li>
                {{/if}}
                {{/each}}
            </ol>
        </div>
    </div>

    <form class="create-form">
        <label for="createBurger"></label>
        <textarea class="form-control" rows="3"></textarea>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>