<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Eat A Burger Or Create Your Own!</h1>
        </div>
<ol>
    
</ol>
    </div>

<form action="" class="create-form">
    <label for="createBurger"></label>
    <textarea class="form-control" rows="3"></textarea>
    <button type= "submit" class="btn btn-primary"></button>
</form>

</div>